header{
    background-color:#EF4F0A;
    width: auto;
    height: 60px;
}
#head_para{
    font-size: 36px;
    color: aliceblue;
    font-family:Bowlby One SC;
    text-align: center;
}
#welcome{
    font-family: Fugaz One;
    font-size: 28px;
    color: aliceblue;
    text-align: center;
    padding-top: 1cm;
}
#veg_button{
    font-family: 'Roboto', sans-serif;;
    font-size: 36px;
    color: aliceblue;
    margin-right: 4cm;
}
#nonveg_button{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: aliceblue;
    padding-left: 6cm;
}
#but_bg{
    background-color: #EF4F0A;
    padding: 10px;
}
#veg_food{
    margin-left: 5.2cm;

}
#nv_food{
    margin-left:11cm;
}
#or{
    font-family: 'Roboto', sans-serif;;
    font-size: 24px;
    color: aliceblue;
    margin-left: 3cm;

}
#branches{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    color: aliceblue;
}
footer{
    background-color: #EF4F0A;
    width: auto;
    padding: 7px;
}
